body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 100px;
    
    color: #ffffff;
}
#dark{
    height:50px;
    width: 100px;
    border-radius: 5px;
}
#light{
    height:50px;
    width: 100px;
    border-radius: 5px;
}